.page-cart {

	/* General Page Styles */

	.page-wrapper {
		max-width: 1262px;
		margin: 0 auto;
		padding: 0 20px;
	}


	.page-wrapper {
		max-width: 1262px;
		margin: 40px auto;
		padding: 0 20px;
	}

	/* Page Header */
	.page-header {
		background: #fff6d1;
		height: 100px;
		position: relative;
		display: flex;
		align-items: center;
		padding: 0 40px;
		margin-bottom: 45px;
		overflow: hidden;
	}

	.page-header__background {
		position: absolute;
		left: -179px;
		top: -87px;
		opacity: 0.2;
	}

	.page-header__title {
		font-family: "ChakraPetch-Bold", sans-serif;
		font-size: 36px;
		position: relative;
		z-index: 2;
	}


	/* Cart Layout */
	.cart-container {
		display: flex;
		gap: 1.6rem;
	}

	.cart-content {
		flex: 2; /* Takes 2/3 of the space */
	}

	.cart-sidebar {
		flex: 1; /* Takes 1/3 of the space */
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	/* Cart Item Styles */
	.cart-items {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 20px;
	}

	.cart-item {
		border: 1px solid #d6d5d6;
		padding: 20px;
		display: flex;
		gap: 20px;
		align-items: flex-start;
	}



	.cart-item__image-wrapper {
		/*background: #fecc00;*/
		border-radius: 5px;
		width: 110px;
		height: 110px;
		flex-shrink: 0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	.cart-item__image {
		max-width: 150%; /* Adjust for better framing */
		height: auto;
	}

	.badge {
		position: absolute;
		top: 7px;
		left: 7px;
		color: #ffffff;
		padding: 2px 8px;
		font-size: 12px;
		font-weight: 600;
		border-radius: 4px;
	}

	.badge--sale { background: #fb0018; }

	.cart-item__details {
		flex-grow: 1;
	}

	.cart-item__title {
		font-family: "ChakraPetch-Bold", sans-serif;
		font-size: 14px;
		margin-bottom: 10px;
		a {
			transition: color .17s ease-in-out;
		}
		a:hover {
			text-decoration: underline;
			color: #836d47;
		}
	}

	.cart-item__price-info {
		display: flex;
		gap: 10px;
		align-items: baseline;
		margin-bottom: 10px;
	}

	.price__old {
		text-decoration: line-through;
		color: #999598;
		font-size: 14px;
	}

	.price__current {
		font-size: 16px;
		color: #fb0018;
		font-weight: 700;
	}

	.cart-item__options {
		font-size: 10px;
		line-height: 1.8;
	}
	.cart-item__options .option-label {
		font-weight: 500;
		margin-right: 5px;
	}

	.color-swatch {
		display: inline-block;
		width: 15px;
		height: 15px;
		background: #fecc00;
		border-radius: 50%;
		border: 1px solid #d6d5d6;
		vertical-align: middle;
	}

	.cart-item__actions {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.quantity-selector {
		display: flex;
		align-items: center;
		border: 1px solid #fecc00;
		border-radius: 5px;
	}
	.quantity-selector__button {
		background-color: transparent;
		border: none;
		width: 33px;
		height: 50px;
		cursor: pointer;
		font-size: 20px;
		line-height: 50px;
		color: #bf9900;
	}
	.quantity-selector__input {
		border: none;
		text-align: center;
		width: 40px;
		font-size: 16px;
		font-weight: 500;
		height: 50px;
	}

	.cart-item__total-price {
		font-family: "Poppins-Medium", sans-serif;
		font-size: 16px;
		font-weight: 500;
		color: #3c291e;
		width: 80px; /* Allocate space */
		text-align: right;
	}

	.cart-item__remove-button {
		padding: 10px;
	}

	.continue-shopping-link {
		display: inline-flex;
		align-items: center;
		gap: 8px;
		font-family: "ChakraPetch-Bold", sans-serif;
		font-size: 14px;
		color: #111111;
	}


	/* Sidebar Styles */
	.cart-summary {
		border: 1px solid #d6d5d6;
		padding: 20px;
		margin-bottom: 1.8rem;
	}

	.cart-summary__header {
		display: flex;
		justify-content: space-between;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 2px solid #ededed;
		font-family: "ChakraPetch-Bold", sans-serif;
		font-size: 14px;
	}

	.cart-summary__details {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-bottom: 20px;
		font-size: 14px;
	}

	.summary-row {
		display: flex;
		justify-content: space-between;
	}
	.summary-row span:last-child {
		color: #999598;
	}
	.summary-row strong:last-child {
		color: #111111;
	}

	.checkout-button {
		background: #fecc00;
		border-radius: 10px;
		height: 45px;
		width: 100%;
		color: #3c291e;
		font-family: "Poppins-Medium", sans-serif;
		font-size: 14px;
		cursor: pointer;
		box-shadow: 0px 21px 41px 0px rgba(254, 204, 0, 0.07);
		&:hover {
			background: var(--standard-colors-grey-ii, #d6d5d6);
		}
	}
	a.checkout-button {
		display: flex	;
		justify-content: center;
		align-items: center;
	}

	.usp-blocks {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.usp-block {
		background: #f7f7f7;
		padding: 17px 20px;
		display: flex;
		align-items: center;
		gap: 20px;
	}
	.usp-block__icon {
		width: 30px;
		height: 30px;
		object-fit: contain;
		flex-shrink: 0;
	}
	.usp-block__text h4 {
		font-family: "Poppins-Bold", sans-serif;
		font-size: 12px;
		line-height: 24px;
	}
	.usp-block__text p {
		color: #4a4849;
		font-size: 12px;
	}

	img.cart-item__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.quantity-selector__button:hover {
		background: #fff5cc;
		color: #bf9900;
		transition: all .23s;
	}

	button.cart-item__remove-button:hover {
		filter: brightness(0) saturate(100%) invert(31%) sepia(84%) saturate(5344%) hue-rotate(350deg) brightness(88%) contrast(95%);
	}


}