.page-checkout {
	.page-header {
		.page-wrapper {
			margin: 40px 0;
			padding: 0;
		}
	}
	.checkout-container {
		flex-direction: column;
		zoom: 1.2;
	}
	.checkout-main {
		width: 100%;
	}
	.checkout-sidebar {
		width: 100%;
	}
	.checkout-step__content label.checkbox-label {
		display: block;
	}

}